<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/style3.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@model List<Walmart.ApplicationCore.DtoModels.OrderDetailsDto>
@using Microsoft.AspNetCore.Identity
@using Walmart.ApplicationCore.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
  var count = 0;
}
<style>
  body{
    display: flex;
    flex-wrap: wrap;
  }
  #btn1{
    padding-top: 10px;
  }
  .img1{
    top: -2px;
  }
</style>
<p style="width: 85%;margin:20px auto;height:fit-content;font-size:14px" id="flex9"><span style="font-weight: 300;">My Account</span> <span style="color: grey;">/</span> Purchase History</p>
<div style="display:flex;margin:0 auto;width:85%;position:relative;min-height:100vh" id="flex10">
  <div style="display: flex;flex-wrap:wrap;width:25%;border-right:1px solid rgb(220, 220, 220);height:fit-content">
    <a class="a5" style="width: 100%;margin-left:0;font-weight:900;padding-bottom: 30px;border-bottom: 1px solid rgb(220, 220, 220);height:fit-content;color:black">Hi, @UserManager.GetUserAsync(User)?.Result?.FullName<br>
      <span style="font-weight: 300;font-size:14px;color:black">Thanks for being a Walmart customer</span>
    </a>
      <div style="width: 100%;height: fit-content;border-bottom: 1px solid rgb(220, 220, 220);">
          <div class="sidebar-box2">
        <i class="fa-solid fa-receipt"></i>
        <a asp-action="PurchaseHistory" asp-area="Customer" asp-controller="Home" class="sidebar-text1" style="color: black;text-decoration:none">Purchase History</a>
      </div>
      <div class="sidebar-box1">
        <i class="fa-solid fa-user"></i>
        <a asp-action="PersonalInfo" asp-area="Customer" asp-controller="Home" class="sidebar-text1" style="color: black;text-decoration:none">Account</a>
      </div>
      </div>
  </div>
  <div style="width: 75%;padding:0 20px">
    <a class="a5" style="width: 100%;margin-left:0;font-weight:900;padding: 0 0 30px 0;height:fit-content;color:black">Purchase History<br>
      <span style="font-weight: 500;font-size:16px;color:black">Sort by:</span>
    </a>
    <span>Order Status</span>
    <select id="statusSelect" onchange="changestatus()">
      <option>All</option>
      <option>Pending</option>
      <option>Processing</option>
      <option>Shipping</option>
      <option>Paid</option>
      <option>Canceled</option>
    </select>
    <div class="alert alert-dismissible fade show" role="alert" style="margin:12px 12px 0 12px;display:none" id="alert">
                <strong id="alerttext"></strong>
                <button type="button" class="close" data-bs-dismiss="alert" style="top: -3px">
                    <span aria-hidden="true" style="position: absolute;bottom: 17px;right: 20px;">x</span>
                </button>
            </div>
    @foreach (var item in Model)
    {
      <div style="box-shadow:0 1px 2px 1px #00000026;border-radius:10px;margin: 25px 0 25px 0">
        <div style="display: flex;padding:0 20px;border-bottom:1px solid rgb(220, 220, 220);padding-bottom:15px">
          <div style="width: 50%;">
            <p style="font-weight: 900;font-size:18px;margin: 18px 0 5px 3px;">@item.order!.CreateDate.ToString("MMMM d, yyyy")</p>
            <p style="margin: 5px 0 0 0;">Order: #@item.order.OrderId</p>
          </div>
          <div style="width: 50%;">
            @{
              count = 0;
            }
            @foreach (var item3 in item.orderDetails!)
            {
              if(item3.Order_Id == item.order.OrderId){
                count = count + item3.Product_Quantity;
              }
            }
            <p style="float: right;font-weight: 900;font-size:18px;margin: 18px 3px 5px 0;color:red">Total Price: $@item.order.Total_Price<br><span style="font-weight: 500;font-size:16px;margin-top:10px;color:black">@count Items</span></p>
          </div>
        </div>
      @foreach (var item2 in item.orderDetails!)
      {
      var total = item2.Product_Price * item2.Product_Quantity;
      <div style="display: flex;margin:25px 0 0 0;padding:0 25px 15px 25px;" id="@item2.OrderDetailId">
        <a><img src="~/@item2.Product_Image" style="max-height:96px;max-width:96px;margin-right:10px;border-radius:0"></a>
        <div style="width: 100%;">
          <p>@item2.Product_Name</p>
          <p>Price: $<span id="price_@item2.OrderDetailId">@item2.Product_Price</span></p>
          <p>Quantity: @item2.Product_Quantity</p>
        </div>
        <div>
          <p style="color: green;" id="total_@item2.OrderDetailId">$@total</p>
        </div>
      </div>
      }
      <div class="accordion-item" style="padding: 20px;border-top:1px solid rgb(220, 220, 220);">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.order.OrderId" aria-expanded="true" aria-controls="collapseOne" style="z-index: 0;text-decoration:underline">
            Show details
          </button>
          @if(item.order.Order_Status == "Pending"){
          <button style="border-radius:25px;border:1px solid black;position:relative;top:-27px;float: right;padding: 7px 14px;font-size:18px" data-bs-toggle="modal" data-bs-target="#mymodal" onclick="changemodal(@item.order.OrderId)" id="cancel_@item.order.OrderId">Cancel</button>
          }
        </h2>
        <div id="collapse_@item.order.OrderId" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="row accordion-body" style="padding-top:10px">
                    <div class="col">
                        <label style="font-weight: 900;font-size:18px;margin-bottom:10px">Order Info</label>
                        <br>
                        <p style="font-size: 14px;">Order ID: #@item.order!.OrderId</p>
                        <p style="font-size: 14px;">Create Date: @item.order!.CreateDate</p>
                        <p style="font-size: 14px;">Payment Method: @item.order!.Payment_Method</p>
                        @if (item.order.Order_Status == "Pending")
                        {
                          <p style="font-size: 14px;">Order Status: <button type="button" class="btn btn-warning" style="cursor: default;font-size: 14px !important;padding: 4px 8px;" id="status_@item.order.OrderId">@item.order!.Order_Status</button></p>
                        }else if(item.order.Order_Status == "Processing"){
                          <p style="font-size: 14px;">Order Status: <button type="button" class="btn btn-primary" style="cursor: default;font-size: 14px !important;padding: 4px 8px;" id="status_@item.order.OrderId">@item.order!.Order_Status</button></p>
                        }else if(item.order.Order_Status == "Shipping"){
                          <p style="font-size: 14px;">Order Status: <button type="button" class="btn btn-info" style="cursor: default;font-size: 14px !important;padding: 4px 8px;" id="status_@item.order.OrderId">@item.order!.Order_Status</button></p>
                        }else if(item.order.Order_Status == "Paid"){
                          <p style="font-size: 14px;">Order Status: <button type="button" class="btn btn-success" style="cursor: default;font-size: 14px !important;padding: 4px 8px;" id="status_@item.order.OrderId">@item.order!.Order_Status</button></p>
                        }else{
                          <p style="font-size: 14px;">Order Status: <button type="button" class="btn btn-danger" style="cursor: default;font-size: 14px !important;padding: 4px 8px;" id="status_@item.order.OrderId">@item.order!.Order_Status</button></p>
                        }
                    </div>
                    <div class="col">
                        <label style="font-weight: 900;font-size:18px;margin-bottom:10px">Customer Info</label>
                        <br>
                        <p style="font-size: 14px;">Customer ID: #@item.order!.Customer_Id</p>
                        <p style="font-size: 14px;">Customer Name: @item.order!.Customer_Name</p>
                        <p style="font-size: 14px;">Phone Number: @item.order!.Phone_Number</p>
                        <p style="font-size: 14px;">Address: @item.order!.Address</p>
                    </div>
                </div>
        </div>
      </div>
      </div>
    }
    <div id="mymodal" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title text-danger" id="exampleModalCenterTitle" style="font-size: 22px;">Warning</h5>
										<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body">
										<p class="mb-0" style="font-size: 16px;">Are you sure you want to cancel this order? &#40;Order Id = <span id="modaltext"></span>&#41;</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn  btn-secondary" data-bs-dismiss="modal">No</button>
										<button type="button" class="btn  btn-primary" onclick="cancelorder()" data-bs-dismiss="modal">Yes</button>
									</div>
								</div>
							</div>
						    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
        var selectedValue = '@(ViewData["SelectedValue"] as string)';
        
        if (selectedValue) {
            $('#statusSelect').val(selectedValue); // Set the selected value
        }
    });
</script>